:root{
    --acropoliscolor: rgb(0, 181, 226); /*  blue sky Color */
    --thiseiocolor: #fa9d3e;
    --zappeioncolor: #42BA85; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
}

/*==========================HEADER STARTS===================*/

a, a:visited {
    color: black;
  }

#burger-menu {
    width: 30px;
    position: absolute;
    top: -40px;
    left: 10px;
    cursor: pointer;
}

#bar1 {
    animation-name: anim8;
    animation-duration: 1.30s;
}

    @keyframes anim8 { 
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }   

#bar2 {
    animation-name: anim9;
    animation-duration: 0.60s;
}

@keyframes anim9 {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }  

#bar3 {
    animation-name: anim10;
    animation-duration: 0.80s;
}

@keyframes anim10 {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  } 

#left_menu {
    background-color: #2B2B2B;
    display: none;
    position: absolute;
    top: 41px;
    left: 0;
    width: 300px;
    min-height: 500px;
    z-index: 100;
}

#left_menu:hover {
    display: block !important;
    z-index: 100;
}

#burger-menu:hover + #left_menu  {
    display: block !important;
}

#left_menu ul li {
    display: block;
    text-align: left;
    padding-left: 20px;
    padding-top: 8px;
    color: white;
}

#left_menu ul li a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.border {
    border-bottom: 1px solid white;
}

.location_left {
    padding-left: 5px;
}

header ul {
    text-align: right;
    text-align: right;
}

header ul li {
    display: inline-block;
}

header ul li  {
    color: black;
    text-align: center;
    line-height: 40px;
}

.logo {
    position: absolute;
    top: 45px;
}
.logo img {
   width:100%;
   max-width: 110px;
}

header div ul li:hover {
    visibility: visible;
}

header div ul li a:hover {
    color: grey;
}

.language {
    display: block;
    text-decoration: none;
    height: 40px;
    margin: 0px 19px;
}

a.language.active {
    border-bottom: 2px solid black;
}

.language.active a:hover {
    color: grey;
}

/*#burger-menu {
    padding-top: 1%;
    width: 1%;
} */

/*==========================END HEADER===================*/

/* ========================== SVG & SVG ANIMATIONS ====================*/

#Capa_1 {
    width: 100%;
    max-width: 90px;
    position: absolute;
    top: 58px;
    padding-left: 10px;
}


#polygon {
    animation-name: anim1;
    animation-duration: 1.30s;
}

    @keyframes anim1 {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }  

#pillar1 {
    animation-name: anim2;
    animation-duration: 0.60s;
}

@keyframes anim2 {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }  

#pillar2 {
    animation-name: anim3;
    animation-duration: 0.80s;
}

@keyframes anim3 {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  } 

#pillar3 {
    animation-name: anim4;
    animation-duration: 1s;
}
@keyframes anim4 {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  } 

#pillar4 {
    animation-name: anim5;
    animation-duration: 1.20s;
}

@keyframes anim5 {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  } 

  #base1 {
    animation-name: anim6;
    animation-duration: 0.40s;
}

@keyframes anim6 {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  } 

  #base2 {
    animation-name: anim7;
    animation-duration: 0.30s;
}

@keyframes anim7 {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }

/*======================MENU============================*/

ul.menu-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.mainmenu {
    font-size: xx-large;
    /*background: white;*/
    margin-top: 0px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-top: 35px;
    padding-bottom: 40px;
    font-family: 'Cinzel', serif;
}

.mainmenu a {
    text-decoration: none;
    margin: 0px 70px;
}

#acropolis a:hover {
    color: var(--acropoliscolor); 
}

#zappeio {
    padding-left: 4%;
}

#thiseio:hover {
    color: var(--thiseiocolor);
}

#zappeio:hover {
    color: var(--zappeioncolor);
}

/*==================END MENU============================*/

a:visited {
    color: black;
}

.mainmenu a:visited {
    color:black;
}

/*main div ul li a {
    width: 130px;
}*/

.second_menu {
    text-align: center;
    color: grey; 
}

#second_menu_events {
    font-size: 1.5rem;
    font-weight: 700;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#second_menu_events a {
    text-decoration: none;
}

#second_menu_events a:hover {
    color: grey;
}


#main_picture {
    width: 100%;
    opacity: 100%;
}

#banner_box_title {
    position: absolute;
    padding-left: 2%;
    font-size: 2em;
    font-weight: 1000;
    top: 40%;
    left: 0;
    width: 100%;
    color: white;
}

#banner_box_text {
    position: absolute;
    padding-left: 2%;
    font-size: 2em;
    font-weight: 500;
    top: 50%;
    left: 0;
    width: 100%;
    color: white;
}

#arrow {
    position: absolute;
    padding-left: 2%;
    font-size: 2em;
    top: 62%;
    left: 0;
    width: 100%;
    color: white;
}

.slider_item {
    position: relative;
    /*background-color: black;*/
}



/*================== CONTACT FORM STARTS ============================*/

form#form {
    margin-top: 8%;
}

.contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(6, 95px); */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-top: 1px solid grey;
}

.contact-form label {
    display: block;
}

#contact-form-info {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    padding-left: 100px;
}

.contact-form-text {
    text-align: right;
    padding-right: 100px;
}

.contact-form-info input {
    margin-right: auto;
    padding: 1em;
    border: none;
    background: none;
    font-size: 1.2em;
    border-bottom: 1px solid black;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
}

#contact {
    padding-top: 10px;
}

.contact-form-text textarea {
    padding: 0.2em;
    width: 90%;
    height: 100%;
    resize: none;
    font-size: 1.2em;
    border: 0.5px solid black;
    border-bottom: 2px solid black;
    background: yellow;
}

b#Athena {
    width: 100%;
    height: 160%;
    text-align: left;
    padding-right: 12rem;
    margin-top: 10rem;
    line-height: 6rem;
    /* color: red; */
}

p#information {
    width: 100%;
    height: 160%;
    text-align: right;
    padding-right: 6rem;
}

p#information-2 {
    width: 100%;
    height: 160%;
    text-align: right;
    padding-right: 8rem;
}

p#contact-info-2 {
    display: inline-block;
    padding-top: 2rem;
}

#extra-info {
    padding-top: 2rem;
}

#extra-info-2 {
    padding-left: 2rem;
}

#extended  {
    padding-right: 5rem;
}

.submit-form {
    width: 100%;
}

.btn {
    display: block;
    color: var(--primary-color);
    text-decoration: none;
    border: 1px solid var(--primary-color);
    width: 5em;
    background-color: black;
    color: white !important;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}



.submit-form  textarea{
    width: 50%;
    height: 150px;
    resize: none;
    font-family: 'Open Sans', sans-serif;
}

.form-inputs {
    margin: 20px 0;
}




/* =================== VALIDATION FORM    =================== */

/* .submit-form #email  {
    width: 300px;
    background-color: #292929;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    font-style: 18px;
} */

#message {
    font-family: 'Open Sans', sans-serif;
    color: green;
}

#text {
    display: block;
    color: #000000;
    font-weight: 300;
    padding: 5px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
}

.submit-btn {
    background-color: black !important;
    display: inline-block !important;
    margin-right: auto !important;
    padding: 5px !important;
    border: none !important;
    /* background: none !important; */
    font-size: 1.2em !important;
    border-bottom: 1px solid rgb(97, 87, 87);
    width: unset !important;
    font-family: 'Open Sans', sans-serif;
}

#fullname-text {
    display: block;
    color: red;
    font-weight: 300;
    padding: 5px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
}

/* =================== VALIDATION FORM    =================== */

/* ================== START FOOTER ================== */

footer {
    margin-bottom: 30px;
    margin-top: 65px;
    border-top: 1px solid grey;
    bottom: 0;
}

#site_footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1);
    padding-bottom: 20px;
}

#bottom_logo {
    padding-left: 20px;
    width: 100%;
    padding-top: 24px;
    max-width: 90px;
}

footer ul {
    grid-column: 2/3;
    grid-row: 1;
    list-style: none;
    padding-top: 10px;
}

footer ul li {
    grid-column: 2/3;
    grid-row: 1;
    width: 100%;
}

.site_footer_nav {
    float: left;
    position: relative;
    padding-top: 10px;
    margin: 0;  
}

.site_footer_nav a {
    text-decoration: none;
}

.footer_wrap {
    float: left;
    position: relative;
    left: 50%;
}

.footer-copywrite {
    grid-area: 2 / 1 / 3 / 7;
    text-align: center;
    color: gray;
    border-top: gray 1px solid;
    font-family: 'Open Sans', sans-serif;
    color: grey;
    padding-top: 10px;
}

footer img {
    width: 15px;
}

/* ================== END FOOTER ================== */


@media screen and (max-width: 1360px) {  /* Tablet */                                                                
    #burger-menu {
        width: 20px;
    }
    #Capa_1 {
        width: 100%;
        max-width: 55px;
        position: absolute;
        top: 45px;
        padding-left: 10px;
    }
    .language {
        font-size: 0.8rem;
    }
    .mainmenu {
        font-size: 1.5rem;
        max-width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .mainmenu a {
        text-decoration: none;
        text-decoration: none;
        margin: 0px 30px;
    }
    #second_menu_events {
        font-size: 1.2rem;
    }
    #banner_box_title {
        font-size: 1rem;
    }
    #banner_box_text {
        font-size: 1rem;
        top: 60%;
    }
    #contact {
        padding-top: 10px;
        padding-right: 60px;
    }
    .info_wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(11, 150px);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    div h3 {
        display: grid;
        grid-column: 2/5;
        grid-row: 1/2;
        align-items: center;
        font-size: 1rem;
    }
    #event_details{
        display: grid;
        grid-column: 2/5;
        grid-row: 2/3;
        align-items: center;
    }
    #event_info {
        display: grid;
        grid-column: 2/3;
        grid-row: 10/11;
    }
    #event_dates {
        display: grid;
        grid-column: 2/5;
        grid-row: 11/12;
    }
    #bottom_logo {
        width: 35%;
        padding-left: 10px;
    }
    .footer_wrap {
        left: 25%;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 991px) {  /* Tablet */                                                                
    #burger-menu {
        width: 20px;
    }
    #Capa_1 {
        width: 100%;
        max-width: 55px;
        position: absolute;
        top: 45px;
        padding-left: 10px;
    }
    .language {
        font-size: 0.8rem;
    }
    .mainmenu {
        font-size: 1.5rem;
        max-width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .mainmenu a {
        text-decoration: none;
        text-decoration: none;
        margin: 0px 30px;
    }
    #second_menu_events {
        font-size: 0.rem;
        line-height: 1rem;
    }
    #banner_box_title {
        font-size: 1rem;
    }
    #banner_box_text {
        font-size: 1rem;
        top: 60%;
    }
    #contact {
        padding-top: 10px;
        padding-right: 60px;
    }
    .info_wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(11, 150px);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    div h3 {
        display: grid;
        grid-column: 2/5;
        grid-row: 1/2;
        align-items: center;
        font-size: 1rem;
    }
    #event_details{
        display: grid;
        grid-column: 2/5;
        grid-row: 2/3;
        align-items: center;
    }
    #event_info {
        display: grid;
        grid-column: 2/3;
        grid-row: 10/11;
    }
    #event_dates {
        display: grid;
        grid-column: 2/5;
        grid-row: 11/12;
    }
    #bottom_logo {
        width: 35%;
        padding-left: 10px;
    }
    .footer_wrap {
        left: 25%;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 414px) {  /* Iphone XS Max */                                                                
    #burger-menu {
        width: 20px;
    }
    .logo img {
        width:25%;
    }
    .logo {
        position: absolute;
        top: 30px;
    }   
    .language {
        font-size: .4rem;
    }
    #Capa_1 {
        width: 100%;
        max-width: 35px;
        position: absolute;
        top: 44px;
        padding-left: 10px;
    }
    .mainmenu {
        font-size: 1rem;
        max-width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .mainmenu a {
        text-decoration: none;
        text-decoration: none;
        margin: 0px 30px;
    }
    #second_menu_events {
        font-size: 0.rem;
        line-height: 1rem;
    }
    #banner_box_title {
        font-size: 1rem;
    }
    #contact {
        font-size: 1rem;
    }
    #contact-info {
        font-size: 0.8rem;
        padding-left: 30px;
    }
    .contact-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 90px);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        border-top: 1px solid grey;
    }
    .contact-form-text {
        text-align: right;
        /* padding-right: 100px; */
    }
    b#Athena {
        width: 100%;
        height: 160%;
        /* text-align: left; */
        /* padding-right: 12rem; */
        /* margin-top: 10rem; */
        line-height: 6rem;
        font-size: 15px;
        padding-right: 100px;
    }
    p#information {
        text-align: left;
        padding-right: 0rem;
        padding-left: 30px;
    }
    p#information-2 {
        width: 100%;
        height: 160%;
        text-align: right;
        padding-right: 2rem;
    }
    #contact-info-2 {
        /* position: fixed; */
        display: grid;
        grid-column: 2;
        /* top: 45%; */
        /* left: 35%; */
        padding-left: 27px;
        text-align: left;
        font-size: 0.8rem;
    }
    input#fullname {
        width: 100%;
    }
    #extra-info {
        padding-top: 0rem;
    }
    #extra-info-2 {
        padding-left: 0rem;
    }
    #extended {
        padding-right: 0rem;
    }
    #message {
        position: fixed;
        top: 55%;
        left: 35%;
        font-size: 1rem;
    }
    #name {
        position: fixed;
        top: 60%;
        left: 35%;
        font-size: 1rem;
    }
    #email {
        top: 70%;
        font-size: 1rem;
        width: 100%;
    }
    #req {
        width: 100%;
    }
    form#form {
        margin-top: 70%;
        display: grid;
        margin-left: 10%;
        grid-column: 1/2;
    }
    #request {
        position: fixed;
        top: 80%;
        left: 35%;
        font-size: 1rem;
    }
    #tos {
        position: fixed;
        top: 90%;
        left: 35%;
        font-size: 1rem;
    }
    #submit-button {
        position: fixed;
        text-decoration: none;
        background-color: black;
        text-align: center;
        width: 20%;
        top: 90%;
        left: 35%;
    }
    #footer {
        top: 300%;
    }
    #bottom_logo {
        width: 50%;
    }
    .footer_wrap {
        left: 25%;
        font-size: 0.6rem;
    }
    .footer-copywrite {
        grid-area: 2 / 1 / 3 / 7;
        font-size: 0.8em;
        padding-top: 10px;
    }
}

@media screen and (max-width: 360px) {  /* Samsung Galaxy S8 */                                                                
    #burger-menu {
        width: 20px;
    }
    .logo img {
        width:25%;
    }
    .logo {
        position: absolute;
        top: 30px;
    }   
    .language {
        font-size: .4rem;
    }
    #Capa_1 {
        width: 100%;
        max-width: 30px;
        position: absolute;
        top: 45px;
        padding-left: 5px;
    }
    .mainmenu {
        font-size: 0.8rem;
        max-width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .mainmenu a {
        text-decoration: none;
        text-decoration: none;
        margin: 0px 30px;
    }
    #second_menu_events {
        font-size: 0.rem;
        line-height: 1rem;
    }
    #banner_box_title {
        font-size: 1rem;
    }
    #contact {
        /* position: fixed; */
        /* top: 25%; */
        /* left: 35%; */
        font-size: 1rem;
        /* padding-top: 10px; */
        /* padding-right: 60px; */
    }
    #contact-info {
        /* position: fixed; */
        /* top: 30%; */
        /* left: 35%; */
        font-size: 0.8rem;
        padding-left: 30px;
        /* padding-left: 10px; */
        /* justify-items: center; */
    }
    .contact-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 90px);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        border-top: 1px solid grey;
    }
    .contact-form-text {
        text-align: right;
        /* padding-right: 100px; */
    }
    b#Athena {
        width: 100%;
        height: 160%;
        /* text-align: left; */
        /* padding-right: 12rem; */
        /* margin-top: 10rem; */
        line-height: 6rem;
        font-size: 15px;
        padding-right: 100px;
    }
    p#information {
        text-align: left;
        padding-right: 0rem;
        padding-left: 30px;
    }
    p#information-2 {
        width: 100%;
        height: 160%;
        text-align: right;
        padding-right: 2rem;
    }
    #contact-info-2 {
        /* position: fixed; */
        display: grid;
        grid-column: 2;
        /* top: 45%; */
        /* left: 35%; */
        padding-left: 27px;
        text-align: left;
        font-size: 0.8rem;
    }
    input#fullname {
        width: 100%;
    }
    #extra-info {
        padding-top: 0rem;
    }
    #extra-info-2 {
        padding-left: 0rem;
    }
    #extended {
        padding-right: 0rem;
    }
    #message {
        position: fixed;
        top: 55%;
        left: 35%;
        font-size: 1rem;
    }
    #name {
        position: fixed;
        top: 60%;
        left: 35%;
        font-size: 1rem;
    }
    #email {
        top: 70%;
        font-size: 1rem;
        width: 100%;
    }
    #req {
        width: 100%;
    }
    form#form {
        margin-top: 70%;
        display: grid;
        margin-left: 10%;
        grid-column: 1/2;
    }
    #request {
        position: fixed;
        top: 80%;
        left: 35%;
        font-size: 1rem;
    }
    #tos {
        position: fixed;
        top: 90%;
        left: 35%;
        font-size: 1rem;
    }
    #submit-button {
        position: fixed;
        text-decoration: none;
        background-color: black;
        text-align: center;
        width: 20%;
        top: 90%;
        left: 35%;
    }
    #footer {
        top: 300%;
    }
    #bottom_logo {
        width: 50%;
    }
    .footer_wrap {
        left: 25%;
        font-size: 0.6rem;
    }
    .footer-copywrite {
        grid-area: 2 / 1 / 3 / 7;
        font-size: 0.8em;
        padding-top: 10px;
    }
}


