:root{
    --acropoliscolor: rgb(0, 181, 226); /*  blue sky Color */
    --thiseiocolor: #fa9d3e;
    --zappeioncolor: #42BA85; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
}

/*=========================HEADER=======================*/

a, a:visited {
    color: black;
  }

  #burger-menu {
    width: 30px;
    position: absolute;
    top: -40px;
    left: 10px;
    cursor: pointer;
}

#bar1 {
    animation-name: anim8;
    animation-duration: 1.30s;
}

    @keyframes anim8 { 
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }   

#bar2 {
    animation-name: anim9;
    animation-duration: 0.60s;
}

@keyframes anim9 {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }  

#bar3 {
    animation-name: anim10;
    animation-duration: 0.80s;
}

@keyframes anim10 {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  } 

#left_menu {
    background-color: #2B2B2B;
    display: none;
    position: absolute;
    top: 41px;
    left: 0;
    width: 300px;
    min-height: 500px;
    z-index: 100;
}

#left_menu:hover {
    display: block !important;
    z-index: 100;
}

#burger-menu:hover + #left_menu  {
    display: block !important;
}

#left_menu ul li {
    display: block;
    text-align: left;
    padding-left: 20px;
    padding-top: 8px;
    color: white;
}

#left_menu ul li a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.border {
    border-bottom: 1px solid white;
}

.location_left {
    padding-left: 5px;
}

header ul {
    text-align: right;
    text-align: right;
}

header ul li {
    display: inline-block;
}

header ul li  {
    color: black;
    text-align: center;
    line-height: 40px;
}

.logo {
    position: absolute;
    top: 45px;
}
.logo img {
   width:100%;
   max-width: 110px;
}

header div ul li:hover {
    visibility: visible;
}

header div ul li a:hover {
    color: grey;
}

.language {
    display: block;
    text-decoration: none;
    height: 40px;
    margin: 0px 19px;
}

a.language.active {
    border-bottom: 2px solid black;
}

.language.active a:hover {
    color: grey;
}



/* ========================== SVG & SVG ANIMATIONS ====================*/

/*==========================END HEADER===================*/

#Capa_1 {
    width: 100%;
    max-width: 90px;
    position: absolute;
    top: 58px;
    padding-left: 10px;
}


#polygon {
    animation-name: anim1;
    animation-duration: 1.30s;
}

    @keyframes anim1 {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }  

#pillar1 {
    animation-name: anim2;
    animation-duration: 0.60s;
}

@keyframes anim2 {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }  

#pillar2 {
    animation-name: anim3;
    animation-duration: 0.80s;
}

@keyframes anim3 {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  } 

#pillar3 {
    animation-name: anim4;
    animation-duration: 1s;
}
@keyframes anim4 {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  } 

#pillar4 {
    animation-name: anim5;
    animation-duration: 1.20s;
}

@keyframes anim5 {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  } 

  #base1 {
    animation-name: anim6;
    animation-duration: 0.40s;
}

@keyframes anim6 {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  } 

  #base2 {
    animation-name: anim7;
    animation-duration: 0.30s;
}

@keyframes anim7 {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }

/* ========================== SVG & SVG ANIMATIONS ENDS ====================*/

/*==========================END HEADER===================*/

/*======================MENU============================*/

ul.menu-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.mainmenu {
    font-size: xx-large;
    /*background: white;*/
    margin-top: 0px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-top: 35px;
    padding-bottom: 40px;
    font-family: 'Cinzel', serif;
}

.mainmenu a {
    text-decoration: none;
    margin: 0px 70px;
}

#acropolis a:hover {
    color: var(--acropoliscolor); 
}

/* #zappeio {
    padding-left: 4%;
} */

#thiseio:hover {
    color: var(--thiseiocolor);
}

#zappeio a:hover {
    color: var(--zappeioncolor);
}

/*==================END MENU============================*/

a:visited {
    color: black;
}

.mainmenu a:visited {
    color:black;
}

.second_menu {
    text-align: center;
    color: grey;
}

#second_menu_events {
    font-size: 1.5rem;
    font-weight: 700;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

#second_menu_events a {
    text-decoration: none;
}

#second_menu_events a:hover {
    color: grey;
}

/* ===================== EVENTS START ========================= */ 


h1#location_title {
    padding-left: 10px;
}

#locations{
    padding-left: 10px;
    list-style: none;
}


#events_showcase {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 30px);
    font-size: large;
    padding-top: 20px;
    padding-bottom: 10px;
    /*border-bottom: 1px solid grey;*/
}

#events_showcase h1 {
    display: grid;
    font-size: 1.5rem;
    font-weight: 700;
    grid-column: 1/2;
    padding-left: 10px;
}

#page-section {
    grid-column: 7/8;
    text-decoration: none;
    background-color: black;
    text-align: center;
    width: 50%;
    margin-left:50%;
    /*padding-top: 5px;*/
}

#page-section2 {
    text-decoration: none;
    color: white;
    padding-top: 5px;
    display: block;
}

#card_showcase {
    display: grid;
    padding-top: 10px;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(4, 150px); */
    grid-gap: 2em;
    /* border-bottom: 1px solid grey; */
    padding-bottom: 20px;
    /* max-width: 1430px; */
    /* max-width: 100%; */
    padding: 10px;
    margin: 0 auto;
}

#event_on_click {
    /*grid-column: 2/5; */
    /* grid-row: 1/5; */
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#event_on_click:hover {
    background-color: lightgreen;
    opacity: .2;
}

#event_showcase_1 {
    background-color: black;
    grid-column: 2/5;
    grid-row: 1/5;
    width: 100%;
}


#event_title {
    font-size: 2em;
    color: white;
    font-weight: 500;
    padding-left: .5em; 
    /* padding-top: 15%; */
    position: absolute;
    bottom: 150px;
}

#event_date {
    font-size: 2em;
    color: white;
    font-weight: 500;
    padding-left: .5em;
    /* padding-top: 15%; */
    position: absolute;
    bottom: 100px;
}

#zappeion_title {
    font-size: 2em;
    color: white;
    font-weight: 500;
    position: absolute;
    bottom: 5px;
    width: 100%;
    border-bottom: 10px solid #42BA85;
    /* padding: 0 4px;*/
}

#zappeion_title p {
    display: inline-block;
    background-color: #42BA85;
    padding: 0 4px;
}


#event_showcase_2 {
    grid-column: 5/8;
    grid-row: 1/5;
    width: 100%;
}

#event_on_click_2 {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#event_title_2 {
    font-size: 2em;
    color: white;
    font-weight: 500;
    padding-left: .5em; 
    /* padding-top: 15%; */
    position: absolute;
    bottom: 150px;
}

#event_on_click_2:hover {
    background-color:  rgb(0, 181, 226);
    opacity: .2;
}

#event_date_2 {
    font-size: 2em;
    color: white;
    font-weight: 500;
    padding-left: .5em;
    /* padding-top: 15%; */
    position: absolute;
    bottom: 100px;
}

#acropolis_title_2 {
    font-size: 2em;
    color: white;
    font-weight: 500;
    position: absolute;
    bottom: 5px;
    width: 100%;
    border-bottom: 10px solid  rgb(0, 181, 226);
    /* padding: 0 4px;*/
}

#acropolis_title_2 p {
    display: inline-block;
    background-color:  rgb(0, 181, 226);
    padding: 0 4px;
}

.showcase_box {
    position: relative;
}

div#show_events {
    position: fixed;
}

#card_showcase_2 {
    display: grid;
    padding-top: 10px;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(4, 150px); */
    grid-gap: 2em;
    /* border-bottom: 1px solid grey; */
    padding-bottom: 20px;
    /* max-width: 1430px; */
    /* max-width: 100%; */
    padding: 10px;
    margin: 0 auto;
}

#event_on_click {
    /*grid-column: 2/5; */
    /* grid-row: 1/5; */
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#event_on_click:hover {
    background-color: lightgreen;
    opacity: .2;
}

#event_showcase_3 {
    background-color: black;
    grid-column: 2/5;
    grid-row: 1/5;
    width: 100%;
}



#event_on_click_3 {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#event_on_click_3:hover {
    background-color:  rgb(0, 181, 226);
    opacity: .2;
}

#event_title_3 {
    font-size: 2em;
    color: white;
    font-weight: 500;
    padding-left: .5em; 
    /* padding-top: 15%; */
    position: absolute;
    bottom: 150px;
}

#event_date_3 {
    font-size: 2em;
    color: white;
    font-weight: 500;
    padding-left: .5em;
    /* padding-top: 15%; */
    position: absolute;
    bottom: 100px;
}

#zappeion_title_3 {
    font-size: 2em;
    color: white;
    font-weight: 500;
    position: absolute;
    bottom: 5px;
    width: 100%;
    border-bottom: 10px solid #42BA85;
    /* padding: 0 4px;*/
}

#zappeion_title_3 p {
    display: inline-block;
    background-color: #42BA85;
    padding: 0 4px;
}

#event_showcase_4 {
    grid-column: 5/8;
    grid-row: 1/5;
    width: 100%;
}

#event_on_click_4 {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#event_title_4 {
    font-size: 2em;
    color: white;
    font-weight: 500;
    padding-left: .5em; 
    position: absolute;
    bottom: 150px;
}

#event_on_click_4:hover {
    background-color:  rgb(0, 181, 226);
    opacity: .2;
}

#event_date_4 {
    font-size: 2em;
    color: white;
    font-weight: 500;
    padding-left: .5em;
    /* padding-top: 15%; */
    position: absolute;
    bottom: 100px;
}

#acropolis_title_4 {
    font-size: 2em;
    color: white;
    font-weight: 500;
    position: absolute;
    bottom: 5px;
    width: 100%;
    border-bottom: 10px solid  rgb(0, 181, 226);
    /* padding: 0 4px;*/
}

#acropolis_title_4 p {
    display: inline-block;
    background-color: rgb(0, 181, 226);
    padding: 0 4px;
}

/* ===================== EVENTS END ========================= */ 

/* ================== START FOOTER ================== */

footer {
    margin-bottom: 30px;
    margin-top: 10px;
    border-top: 1px solid grey;
    position:absolute; 
}

#site_footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1);
    grid-row-gap: 20px;
}

#bottom_logo {
    width:100%;
    max-width: 110px;
    padding-top: 20px;
    padding-left: 10px;
 }

footer ul {
    grid-column: 2/3;
    grid-row: 1;
    list-style: none;
    padding-top: 10px;
}

footer ul li {
    grid-column: 2/3;
    grid-row: 1;
    width: 100%;
}

.site_footer_nav {
    float: left;
    position: relative;
    padding-top: 10px;
    margin: 0;
    
}

.site_footer_nav a {
    text-decoration: none;
}

.footer_wrap {
    float: left;
    position: relative;
    left: 50%;
}

.footer-copywrite {
    grid-area: 2 / 1 / 3 / 7;
    text-align: center;
    color: gray;
    border-top: gray 1px solid;
    font-family: 'Open Sans', sans-serif;
    color: grey;
    padding-top: 10px;
}

footer img {
    width: 15px;
}

/* ================== END FOOTER ================== */


@media screen and (max-width: 1360px) {  /* Laptop */                                                                
    #burger-menu {
        width: 20px;
    }
    .logo img {
        width:25%;
    }
    .logo {
        position: absolute;
        top: 30px;
    }   
    .language {
        font-size: 0.8rem;
    }
    .mainmenu {
        font-size: 1.5rem;
        max-width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #Capa_1 {
        width: 100%;
        max-width: 55px;
        position: absolute;
        top: 45px;
        padding-left: 10px;
    }
    .mainmenu {
        font-size: 1.5rem;
        max-width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #second_menu_events {
        font-size: 1.2rem;
    }
    #events_showcase h1 {
        font-size: 0.8rem;
        grid-column: 1/4;
        padding-left: 8px;
    }

    h1#location_title {
        font-size: 1.6rem;
        padding-left: 0;
    }
    #locations {
        padding-left: 0;
        padding-top: 10px;
        font-size: 1.5rem;
    }
    #page-section {
        grid-column: 6/9;
        font-size: 0.8rem;
        width: 50%;
        margin-left:50%;
        /*padding-top: 5px;*/
    }
    #card_showcase{
        grid-gap: 5px;
    }
    #card_showcase_2{
        grid-gap: 5px;
    }
    #event_title {
        font-size: 1.6rem;
        line-height: 1em;
        bottom: 60px;
    }
    #event_date {
        font-size: 1.2rem;
        bottom: 35px;
        padding-left: 10px;
    }
    #zappeion_title{
        font-size: 1rem;
        bottom: 7px;
        /* border-bottom: 0px; */
        border-bottom: 4px solid var(--zappeioncolor);
    }
    #event_title_2 {
        font-size: 1.6rem;
        line-height: 1.2em;
        bottom: 60px;
    }
    #event_date_2 {
        font-size: 1rem;
        bottom: 35px;
        padding-left: 10px;
    }
    #acropolis_title_2{
        font-size: 1rem;
        bottom: 5px;
        border-bottom: 4px solid var(--acropoliscolor);
    }
    #event_title_3 {
        font-size: 1.6rem;
        line-height: 1.2em;
        bottom: 60px;
    }
    #event_date_3 {
        font-size: 1rem;
        bottom: 35px;
        padding-left: 10px;
    }
    #zappeion_title_3{
        font-size: 1rem;
        bottom: 5px;
        border-bottom: 4px solid var(--zappeioncolor);
    }
    #event_title_4 {
        font-size: 1.6rem;
        line-height: 1.2em;
        bottom: 60px;
    }
    #event_date_4 {
        font-size: 1rem;
        bottom: 35px;
        padding-left: 10px;
    }
    #acropolis_title_4{
        font-size: 1rem;
        bottom: 10px;
        border-bottom: 4px solid var(--acropoliscolor);
    }
    #bottom_logo {
        width: 35%;
        padding-left: 10px;
    }
    .footer_wrap {
        left: 25%;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 991px) {  /* Tablet */                                                                
    #burger-menu {
        width: 20px;
    }
    .logo img {
        width:25%;
    }
    .logo {
        position: absolute;
        top: 30px;
    }   
    .language {
        font-size: 0.8rem;
    }
    .mainmenu {
        font-size: 1.5rem;
        max-width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .mainmenu a {
        text-decoration: none;
        text-decoration: none;
        margin: 0px 30px;
    }
    #Capa_1 {
        width: 100%;
        max-width: 55px;
        position: absolute;
        top: 45px;
        padding-left: 10px;
    }
    #second_menu_events {
        font-size: 0.8rem;
        line-height: 1rem;
    }
    #events_showcase h1 {
        font-size: 0.8rem;
        grid-column: 1/4;
        padding-left: 8px;
    }
    h1#location_title {
        font-size: 1.6rem;
        padding-left: 0;
    }
    #locations {
        padding-left: 0;
        padding-top: 10px;
        font-size: 1.5rem;
    }
    #page-section {
        grid-column: 6/9;
        font-size: 0.8rem;
        width: 50%;
        margin-left:50%;
        /*padding-top: 5px;*/
    }
    #card_showcase{
        grid-gap: 5px;
    }
    #card_showcase_2{
        grid-gap: 5px;
    }
    #event_title {
        font-size: 0.8rem;
        bottom: 46px;
    }
    #event_date {
        font-size: 0.9rem;
        bottom: 25px;
    }
    #zappeion_title{
        font-size: 0.6rem;
        bottom: 7px;
        /* border-bottom: 0px; */
        border-bottom: 2px solid var(--zappeioncolor);
    }
    #event_title_2 {
        font-size: 0.8rem;
        bottom: 40px;
    }
    #event_date_2 {
        font-size: 0.8rem;
        bottom: 25px;
    }
    #acropolis_title_2{
        font-size: 0.9rem;
        border-bottom: 2px solid var(--acropoliscolor);
    }
    #event_title_3 {
        font-size: 0.9rem;
        bottom: 40px;
    }
    #event_date_3 {
        font-size: 0.8rem;
        bottom: 25px;
    }
    #zappeion_title_3{
        font-size: 0.9rem;
        border-bottom: 2px solid var(--zappeioncolor);
    }
    #event_title_4 {
        font-size: 0.9rem;
        bottom: 40px;
    }
    #event_date_4 {
        font-size: 0.8rem;
        bottom: 25px;
    }
    #acropolis_title_4{
        font-size: 0.9rem;
        border-bottom: 2px solid var(--acropoliscolor);
    }
    #bottom_logo {
        width: 35%;
        padding-left: 10px;
    }
    .footer_wrap {
        left: 25%;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 414px) {  /* Iphone XS Max */                                                                
    #burger-menu {
        width: 20px;
    }
    .logo img {
        width:25%;
    }
    .logo {
        position: absolute;
        top: 30px;
    }   
    .language {
        font-size: .4rem;
    }
    #Capa_1 {
        width: 100%;
        max-width: 35px;
        position: absolute;
        top: 44px;
        padding-left: 10px;
    }
    .mainmenu {
        font-size: 1rem;
        max-width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .mainmenu a {
        text-decoration: none;
        text-decoration: none;
        margin: 0px 30px;
    }
    #second_menu_events {
        font-size: 0.8rem;
        line-height: 1rem;
    }
    #events_showcase h1 {
        font-size: 0.8rem;
        grid-column: 1/4;
        padding-left: 8px;
    }
    h1#location_title {
        font-size: 0.6rem;
        padding-left: 0;
    }
    #locations {
        padding-left: 0;
        padding-top: 10px;
        font-size: 0.5rem;
    }
    #page-section {
        grid-column: 6/9;
        font-size: 0.8rem;
        width: 50%;
        margin-left:50%;
        /*padding-top: 5px;*/
    }
    #card_showcase{
        grid-gap: 5px;
    }
    #card_showcase_2{
        grid-gap: 5px;
    }
    #event_title {
        font-size: 0.4rem;
        bottom: 40px;
    }
    #event_date {
        font-size: 0.4rem;
        bottom: 25px;
    }
    #zappeion_title{
        font-size: 0.4rem;
        bottom: 7px;
        border-bottom: 0px;
    }
    #event_title_2 {
        font-size: 0.4rem;
        bottom: 40px;
    }
    #event_date_2 {
        font-size: 0.4rem;
        bottom: 25px;
    }
    #acropolis_title_2{
        font-size: 0.4rem;
        border-bottom: 2px solid var(--acropoliscolor);
    }
    #event_title_3 {
        font-size: 0.4rem;
        bottom: 40px;
    }
    #event_date_3 {
        font-size: 0.4rem;
        bottom: 25px;
    }
    #zappeion_title_3{
        font-size: 0.4rem;
        border-bottom: 2px solid var(--zappeioncolor);
    }
    #event_title_4 {
        font-size: 0.4rem;
        bottom: 40px;
    }
    #event_date_4 {
        font-size: 0.4rem;
        bottom: 25px;
    }
    #acropolis_title_4{
        font-size: 0.4rem;
        border-bottom: 2px solid var(--acropoliscolor);
    }
    #bottom_logo {
        width: 43%;
        padding-left: 5px;
    }
    .footer_wrap {
        left: 25%;
        font-size: 0.6rem;
    }
    .footer-copywrite {
        grid-area: 2 / 1 / 3 / 7;
        font-size: 0.8em;
        padding-top: 10px;
    }
}

@media screen and (max-width: 360px) {  /* Samsung Galaxy S8 */                                                                
    #burger-menu {
        width: 20px;
    }
    .logo img {
        width:25%;
    }
    .logo {
        position: absolute;
        top: 30px;
    }   
    .language {
        font-size: .4rem;
    }
    #Capa_1 {
        width: 100%;
        max-width: 35px;
        position: absolute;
        top: 44px;
        padding-left: 10px;
    }
    .mainmenu {
        font-size: 0.8rem;
        max-width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .mainmenu a {
        text-decoration: none;
        text-decoration: none;
        margin: 0px 30px;
    }
    #second_menu_events {
        font-size: 0.7rem;
        line-height: 1rem;
        padding-bottom: 5px;
    }
    #events_showcase h1 {
        font-size: 0.8rem;
        grid-column: 1/4;
        padding-left: 8px;
    }
    h1#location_title {
        font-size: 0.6rem;
        padding-left: 0;
    }
    #locations {
        padding-left: 0;
        padding-top: 10px;
        font-size: 0.5rem;
    }
    #page-section {
        grid-column: 6/9;
        font-size: 0.8rem;
        width: 50%;
        margin-left:50%;
        /*padding-top: 5px;*/
    }
    #card_showcase{
        grid-gap: 5px;
    }
    #card_showcase_2{
        grid-gap: 5px;
    }
    #event_title {
        font-size: 0.5rem;
        bottom: 40px;
    }
    #event_date {
        font-size: 0.4rem;
        bottom: 25px;
    }
    #zappeion_title{
        font-size: 0.4rem;
        bottom: 6px;
        border-bottom: 2px solid var(--zappeioncolor); 
    }
    #event_title_2 {
        font-size: 0.4rem;
        bottom: 40px;
    }
    #event_date_2 {
        font-size: 0.4rem;
        bottom: 25px;
    }
    #acropolis_title_2{
        font-size: 0.4rem;
        border-bottom: 2px solid var(--acropoliscolor);
    }
    #event_title_3 {
        font-size: 0.4rem;
        bottom: 40px;
    }
    #event_date_3 {
        font-size: 0.4rem;
        bottom: 25px;
    }
    #zappeion_title_3{
        font-size: 0.4rem;
        border-bottom: 2px solid var(--zappeioncolor);
    }
    #event_title_4 {
        font-size: 0.4rem;
        bottom: 40px;
    }
    #event_date_4 {
        font-size: 0.4rem;
        bottom: 25px;
    }
    #acropolis_title_4{
        font-size: 0.4rem;
        border-bottom: 2px solid var(--acropoliscolor);
    }
    #bottom_logo {
        width: 43%;
        padding-left: 5px;
    }
    .footer_wrap {
        left: 25%;
        font-size: 0.6rem;
    }
    .footer-copywrite {
        grid-area: 2 / 1 / 3 / 7;
        font-size: 0.8em;
        padding-top: 10px;
    }
}