:root{
    --acropoliscolor: rgb(0, 181, 226); /*  blue sky Color */
    --thiseiocolor: #fa9d3e;
    --zappeioncolor: #42BA85; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
}

/*=========================HEADER=======================*/

#burger-menu {
    width: 30px;
    position: absolute;
    top: 8px;
    left: 10px;
    cursor: pointer;
}

#left_menu {
    background-color: #2B2B2B;
    display: none;
    position: absolute;
    top: 41px;
    left: 0;
    width: 300px;
    min-height: 500px;
    z-index: 100;
}

#left_menu:hover {
    display: block !important;
    z-index: 100;
}

#burger-menu:hover + #left_menu  {
    display: block !important;
}

#left_menu ul li {
    display: block;
    text-align: left;
    padding-left: 20px;
    padding-top: 8px;
    color: white;   
}

#left_menu ul li a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.location_left {
    padding-left: 5px;
}

header ul {
    text-align: right;
    text-align: right;
}

header ul li {
    display: inline-block;
}

header ul li  {
    color: black;
    text-align: center;
    line-height: 40px;
}

.logo {
    position: absolute;
    top: 45px;
}

.logo img {
   width:100%;
   max-width: 110px;
}

header div ul li:hover {
    visibility: visible;
}

header div ul li a:hover {
    color: grey;
}

.language {
    display: block;
    text-decoration: none;
    height: 40px;
    margin: 0px 19px;
}

a.language.active {
    border-bottom: 2px solid black;
}

.language.active a:hover {
    color: grey;
}


/*==========================END HEADER===================*/

/* ========================== SVG & SVG ANIMATIONS ====================*/

#Capa_1 {
    width: 100%;
    max-width: 90px;
    position: absolute;
    top: 58px;
    padding-left: 10px;
}


#polygon {
    animation-name: anim1;
    animation-duration: 1.30s;
}

    @keyframes anim1 {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }  

#pillar1 {
    animation-name: anim2;
    animation-duration: 0.60s;
}

@keyframes anim2 {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }  

#pillar2 {
    animation-name: anim3;
    animation-duration: 0.80s;
}

@keyframes anim3 {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  } 

#pillar3 {
    animation-name: anim4;
    animation-duration: 1s;
}
@keyframes anim4 {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  } 

#pillar4 {
    animation-name: anim5;
    animation-duration: 1.20s;
}

@keyframes anim5 {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  } 

  #base1 {
    animation-name: anim6;
    animation-duration: 0.40s;
}

@keyframes anim6 {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  } 

  #base2 {
    animation-name: anim7;
    animation-duration: 0.30s;
}

@keyframes anim7 {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }

/* ========================== SVG & SVG ANIMATIONS ENDS ====================*/

/*======================MENU============================*/

ul.menu-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.mainmenu {
    font-size: xx-large;
    /*background: white;*/
    margin-top: 0px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-top: 35px;
    padding-bottom: 40px;
    font-family: 'Cinzel', serif;
}

.mainmenu a {
    text-decoration: none;
    margin: 0px 70px;
}

#acropolis a:hover {
    color: var(--acropoliscolor); 
}

#thiseio a:hover {
    color: var(--thiseiocolor);
}

#zappeio a:hover {
    color: var(--zappeioncolor);
}

/*==================END MENU============================*/

a:focus {
    color: black;
}

a {
    color: black;
}

a:visited {
    color: black;
}

.mainmenu a:visited {
    color:black;
}



/* ========== START SECOND MENU & MAIN PHOTO ============ */
.second_menu {
    text-align: center;
    color: grey;
}

#second_menu_events {
    font-size: 1.5rem;
    font-weight: 700;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#second_menu_events a {
    text-decoration: none;
}

#second_menu_events a:hover {
    color: grey;
}

#main_picture {
    width: 100%;
    opacity: 100%;
}

#banner_box_title {
    position: absolute;
    padding-left: 2%;
    font-size: 2em;
    font-weight: 1000;
    top: 30%;
    left: 0;
    width: 100%;
    color: white;
    text-shadow: 5px 2px 3px #000000;
}

#banner_box_text {
    position: absolute;
    padding-left: 2%;
    font-size: 2em;
    font-weight: 600;
    top: 40%;
    left: 0;
    width: 100%;
    color: white;
    text-shadow: 5px 2px 3px #000000;
}

.slider_item {
    position: relative;
    /*background-color: black;*/
}

/* ========== END SECOND MENU & MAIN PHOTO ============ */


/* ================== EVENT DETAILS STARTS ================== */

.info_wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    line-height: 2rem;
}

div h3 {
    display: grid;
    grid-column: 2/4;
    grid-row: 1/2;
    align-items: center
}

#event_details {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/5;
    font-family: 'Open Sans', sans-serif;
}

#event_info {
    display:grid;
    grid-column: 3/4;
    grid-row: 1/2;
    align-items: flex-end;
    text-align: center;
}

#event_dates {
    display:grid;
    grid-column: 3/5;
    grid-row: 2/3;
    padding-top: 2rem;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}

/* ================== EVENT DETAILS END ================== */


/* ================== EVENT SHOWCASES ================== */

#events_showcase {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 30px);
    font-size: large;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
    border-top: 1px solid grey;
}

#events_showcase h1 {
    font-size: 1.5rem;
    font-weight: 700;
    grid-column: 2/3;
}

#page-section {
    grid-column: 7/8;
    text-decoration: none;
    background-color: black;
    text-align: center;
    width: 50%;
    margin-left:50%;
}

#page-section2 {
    text-decoration: none;
    color: white;
    padding-top: 5px;
    display: block;
}

#card_showcase {
    display: grid;
    padding-top: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    padding-bottom: 20px;
    max-width: 1430px;
    margin: 0 auto;
}

#event_on_click {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#event_on_click:hover {
    background-color: lightgreen;
    opacity: .2;
}

#event_showcase_1 {
    background-color: black;
    grid-column: 2/5;
    grid-row: 1/5;
    width: 100%;
}



#event_title {
    font-size: 2em;
    color: white;
    font-weight: 500;
    padding-left: .5em; 
    /* padding-top: 15%; */
    position: absolute;
    bottom: 200px;
}

#event_date {
    font-size: 2em;
    color: white;
    font-weight: 500;
    padding-left: .5em;
    position: absolute;
    bottom: 160px;
}

#zappeion_title {
    font-size: 2em;
    color: white;
    font-weight: 500;
    position: absolute;
    bottom: 5px;
    width: 100%;
    border-bottom: 10px solid #42BA85;
}

#zappeion_title p {
    display: inline-block;
    background-color: #42BA85;
    padding: 0 4px;
}


#event_showcase_2 {
    grid-column: 5/8;
    grid-row: 1/5;
    width: 100%;
}

#event_on_click_2 {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#event_title_2 {
    font-size: 2em;
    color: white;
    font-weight: 500;
    padding-left: .5em; 
    position: absolute;
    bottom: 200px;
}

#event_on_click_2:hover {
    background-color:  rgb(0, 181, 226);
    opacity: .2;
}

#event_date_2 {
    font-size: 2em;
    color: white;
    font-weight: 500;
    padding-left: .5em;
    position: absolute;
    bottom: 160px;
}

#acropolis_title_2 {
    font-size: 2em;
    color: white;
    font-weight: 500;
    position: absolute;
    bottom: 5px;
    width: 100%;
    border-bottom: 10px solid  rgb(0, 181, 226);
}

#acropolis_title_2 p {
    display: inline-block;
    background-color:  rgb(0, 181, 226);
    padding: 0 4px;
}

.showcase_box {
    position: relative;
}


/* ================== END EVENT SHOWCASES ================== */

/* ================== START FOOTER ================== */

footer {
    margin-bottom: 30px;
    margin-top: 30px;
    border-top: 1px solid grey;
}

#site_footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 3em;
    grid-row-gap: 20px;
}


#bottom_logo {
    width: 100%;
    max-width: 110px;
    padding-top: 20px;
    padding-left: 10px;
}

footer ul {
    grid-column: 2/3;
    grid-row: 1;
    list-style: none;
    padding-top: 10px;
}

footer ul li {
    grid-column: 2/3;
    grid-row: 1;
    width: 100%;
}

.site_footer_nav {
    float: left;
    position: relative;
    padding-top: 10px;
    margin: 0;
    
}

.site_footer_nav a {
    text-decoration: none;
}

.footer_wrap {
    float: left;
    position: relative;
    left: 50%;
}

.footer-copywrite {
    grid-area: 2 / 1 / 3 / 7;
    text-align: center;
    color: gray;
    border-top: gray 1px solid;
    font-family: 'Open Sans', sans-serif;
    color: grey;
    padding-top: 10px;
}

footer img {
    width: 15px;
}

/* ================== END FOOTER ================== */

 

@media screen and (max-width: 991px) {  /* Medum Tablet */                                                                
    #burger-menu {
        width: 20px;
    }
    .logo img {
        width:25%;
    }
    .logo {
        position: absolute;
        top: 30px;
    }   
    .language {
        font-size: .4rem;
    }
    #Capa_1 {
        width: 100%;
        max-width: 35px;
        position: absolute;
        top: 50px;
        padding-left: 10px;
    }
    .mainmenu {
        font-size: 1rem;
        max-width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .mainmenu a {
        text-decoration: none;
        text-decoration: none;
        margin: 0px 30px;
    }
    #second_menu_events {
        font-size: 0.rem;
        line-height: 1rem;
    }
    #banner_box_title {
        font-size: 1rem;
    }
    #banner_box_text {
        font-size: 1rem;
        top: 40%;
    }
    .info_wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(6, 150px);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    div h3 {
        display: grid;
        grid-column: 2/6;
        grid-row: 1/2;
        align-items: center;
        font-size: 1rem;
    }
    #event_details{
        display: grid;
        grid-column: 2/5;
        grid-row: 2/3;
        align-items: center;
    }
    #event_info {
        display: grid;
        grid-column: 2/3;
        grid-row: 10/11;
        padding-bottom: 0;
    }
    #event_dates {
        display: grid;
        grid-column: 1/5;
        grid-row: 11/12;
        padding-top: 5px;
    }
    #events_showcase h1 {
        grid-column: 1/5;
        padding-left: 8px;
    }
    #page-section {
        grid-column: 5/9;
        width: 29%;
        margin-left: 70%;
        /*padding-top: 5px;*/
    }
    #event_title {
        font-size: 0.8rem;
        bottom: 60px;
    }
    #event_date {
        font-size: 0.6rem;
        bottom: 45px;
    }
    #zappeion_title{
        font-size: 0.7rem;
    }
    #event_title_2 {
        font-size: 0.8rem;
        bottom: 60px;
    }
    #event_date_2 {
        font-size: 0.6rem;
        bottom: 45px;
    }
    #acropolis_title_2{
        font-size: 0.7rem;
        padding-bottom: -10%;
    }
    #bottom_logo {
        width: 50%;
    }
    .footer_wrap {
        left: 25%;
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 414px) {  /* Mobile */                                                                
    #burger-menu {
        width: 20px;
    }
    .logo img {
        width:25%;
    }
    .logo {
        position: absolute;
        top: 30px;
    }   
    .language {
        font-size: .4rem;
    }
    #Capa_1 {
        width: 100%;
        max-width: 35px;
        position: absolute;
        top: 44px;
        padding-left: 10px;
    }
    .mainmenu {
        font-size: .5rem;
        max-width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .mainmenu a {
        text-decoration: none;
        text-decoration: none;
        margin: 0px 30px;
    }
    #second_menu_events {
        font-size: 0.rem;
        line-height: 1rem;
    }
    #banner_box_title {
        font-size: 1rem;
    }
    #banner_box_text {
        font-size: 1rem;
        top: 60%;
    }
    .info_wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(12, 150px);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    div h3 {
        display: grid;
        grid-column: 2/5;
        grid-row: 1/2;
        align-items: center;
        font-size: 1rem;
    }
    #event_details{
        display: grid;
        grid-column: 2/5;
        grid-row: 2/3;
        align-items: center;
    }
    #event_info {
        display: grid;
        grid-column: 2/3;
        grid-row: 11/12;
    }
    #event_dates {
        display: grid;
        grid-column: 2/5;
        grid-row: 12/13;
    }
    #events_showcase h1 {
        font-size: 0.8rem;
        grid-column: 1/4;
        padding-left: 8px;
    }
    #page-section {
        grid-column: 6/9;
        font-size: 0.8rem;
        width: 50%;
        margin-left: 45%;
        /*padding-top: 5px;*/
    }
    #event_title {
        font-size: 0.8rem;
        bottom: 60px;
    }
    #event_date {
        font-size: 0.6rem;
        bottom: 45px;
    }
    #zappeion_title{
        font-size: 0.7rem;
    }
    #event_title_2 {
        font-size: 0.8rem;
        bottom: 60px;
    }
    #event_date_2 {
        font-size: 0.6rem;
        bottom: 45px;
    }
    #acropolis_title_2{
        font-size: 0.7rem;
        padding-bottom: -10%;
    }
    #bottom_logo {
        width: 50%;
    }
    .footer_wrap {
        left: 25%;
        font-size: 0.6rem;
    }
    .footer-copywrite {
        grid-area: 2 / 1 / 3 / 7;
        font-size: 0.8em;
        padding-top: 10px;
    }
}