* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*=========================HEADER=======================*/
header ul {
    text-align: right;
    text-align: right;
}

header ul li {
    display: inline-block;
}

header ul li  {
    color: black;
    text-align: center;
    line-height: 40px;
}

.logo {
    position: absolute;
    top: 45px;
}
.logo img {
   width:100%;
   max-width: 110px;
}

header div ul li:hover {
    visibility: visible;
}

header div ul li a:hover {
    color: grey;
}

.language {
    display: block;
    text-decoration: none;
    height: 40px;
    margin: 0px 19px;
}

a.language.active {
    border-bottom: 2px solid black;
}

.language.active a:hover {
    color: grey;
}

/*==========================END HEADER===================*/

/*======================MENU============================*/

ul.menu-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.mainmenu {
    font-size: xx-large;
    /*background: white;*/
    margin-top: 0px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-top: 35px;
    padding-bottom: 40px;
}

.mainmenu a {
    text-decoration: none;
    margin: 0px 70px;
}

#acropolis a:hover {
    color: rgb(0, 181, 226); /*  blue sky Color */
}

#thiseio a:hover {
    color: orange;
}

#zappeio a:hover {
    color: rgb(48, 183, 0); /* Leaf Green Color */
}

/*==================END MENU============================*/




a:visited {
    color: black;
}

.mainmenu a:visited {
    color:black;
}

/*main div ul li a {
    width: 130px;
}*/

.second_menu {
    text-align: center;
    color: grey;
}

#events {
    font-size: large;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#events a {
    text-decoration: none;
}

#events a:hover {
    color: grey;
}

#main_picture {
    width: 100%;
}

.third_menu {
    display: grid;
    /*grid-column-gap: 10px;
    grid-row-gap: 10px;*/
    grid-template-columns: 1;
    justify-content: center;
    border-bottom: 1px solid grey;
}

#history {
    /*background: rgb(129, 7, 7);*/
    font-size: large;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

#history a {
    text-decoration: none;
}

#history a:hover {
    text-decoration: none;
    color: grey;
}

#get_to_know {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(5, 1fr);
    font-size: large;   
}

#description {
    grid-column: 2/5;
    grid-row: 1/1;
    padding-top: 40px;
}

#locations {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 150px);
    padding-top: 30px;
}


#acrop {
    width: 200%;
    height: 200%;
}
#acropolis_location {
    grid-column: 2/4;
    grid-row: 1/3;
}